.ldz_081114_01 {
	font-size: 12px;
	line-height: 150%;
	color: #0E76B3;
}
.ldz_081114_02 {
	font-size: 12px;
	line-height: 150%;
	color: #CC0000;
}
.ldz_081114_03 {
	font-size: 12px;
	line-height: 150%;
	color: #333333;
}
.ldz_081114_04 {
	font-size: 30px;
	line-height: 150%;
	color: #333333;
	font-family: "黑体";
	font-weight: normal;
}
.ldz_081114_05 {
	font-size: 26px;
	line-height: 150%;
	color: #003399;
	font-family: "黑体";
	font-weight: normal;
}
.ldz_081114_06 {
	font-size: 12px;
	line-height: 150%;
	color: #CCCCCC;
	font-family: "宋体";
	font-weight: normal;
}
A.link_ldz_01{
	FONT-WEIGHT: normal;
	COLOR: red;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
}

A.link_ldz_01:hover {
	FONT-WEIGHT: normal;
	COLOR: #0E76B3;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
}
A.link_ldz_02:link {
	FONT-WEIGHT: normal;
	COLOR: #FF6600;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
}
A.link_ldz_02:visited {
	FONT-WEIGHT: normal;
	COLOR: #990000;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
}
A.link_ldz_02:hover {
	FONT-WEIGHT: normal;
	COLOR: #990000;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
}
A.link_ldz_03:link {
	FONT-WEIGHT: bold;
	COLOR: #003399;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 26px;
}
A.link_ldz_03:visited {
	FONT-WEIGHT: bold;
	COLOR: #000066;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 26px;
}
A.link_ldz_03:hover {
	FONT-WEIGHT: bold;
	COLOR: #000066;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 26px;
}
