<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>My GitHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="resources/index/index.js"></script>
    <link rel="stylesheet" href="resources/index/index.css" />
</head>
<body ng-app="mySite">
    <div title-bar class="container-fluid" ng-controller="titleBar">
        <h1>Zhipeng YANG</h1>
        <div class="container">
            <div class="row menu">
                <div class="submenu-left col-sm-4" ng-click="go('home')">Home</div>
                <div class="submenu col-sm-4" ng-click="go('blog')">Blog</div>
                <div class="submenu-right col-sm-4" ng-click="go('project')">Project</div>
            </div>
        </div>
    </div>
    <div class="container">
    </div>
</body>
</html>