body {
    background-color: rgb(0, 148, 255);
    font-family: 'Microsoft YaHei',Helvetica;
}

a {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    -webkit-transition: color 0.5s;
}

    a:hover {
        color: white;
    }

    a:visited {
        color: rgba(255,255,255,0.5);
        text-decoration: none;
    }

::selection {
    background-color: rgb(122, 247, 255);
}

#welcome {
    font-size: 500%;
    color: white;
}

.login_frame {
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
}

.textbox {
    width: 20%;
    height: 30px;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Microsoft YaHei',Helvetica;
}

#loginbutton {
    margin-left: 20px;
    border: 2px solid silver;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    height: 100px;
    width: 100px;
    color: white;
    font-size: 20px;
    font-family: 'Microsoft YaHei',Helvetica;
    transition: background-color 1s, color 1s;
    -webkit-transition: background-color 1s, color 1s;
    -moz-transition: background-color 1s, color 1s;
}

    #loginbutton:hover {
        color: black;
        background-color: rgba(255, 255, 255, 1);
    }

#forgot {
    position: absolute;
    right: 10px;
    top: 10px;
}
