@font-face {
    font-family: myFont;
    src: url(sansation_light.woff);
}

body {
    font-size: 100%;
    font-family: myFont,'Helvetica', 'Microsoft YaHei', sans-serif;
}

a {
    text-decoration: none;
}

    a:visited {
        color: black;
    }

#menu {
    position: absolute;
    z-index: 999;
    list-style-type: none;
    cursor: pointer;
}

    #menu li {
        display: inline;
    }

        #menu li button {
            margin-right: 10px;
            border-radius: 1000px;
            border: solid;
            background-color: rgba(255, 255, 255, 0.65);
            padding: 8px 10px;
            text-decoration: none;
            width: 120px;
            font-family: myFont;
            cursor: pointer;
            -webkit-transition: all ease 0.25s;
            -moz-transition: all ease 0.25s;
            -o-transition: all ease 0.25s;
            transition: all ease 0.25s;
        }

            #menu li button:hover {
                background-color: rgba(255, 255, 255, 0.85);
            }

@keyframes active {
    0% {
        background-color: #ffbb00;
    }

    25% {
        background-color: #7cbb00;
    }

    50% {
        background-color: #00a1f1;
    }

    75% {
        background-color: #f65314;
    }

    100% {
        background-color: #ffbb00;
    }
}

#active {
    animation: 12s active infinite ease-in-out;
}
