@font-face {
    font-family: myFont;
    src: url(sansation_light.woff);
}

body {
    font-family: myFont,'Helvetica', 'Microsoft YaHei', sans-serif;
    font-size: 100%;
    text-shadow: gray 0 0 5px;
    background-color: black;
}

::selection {
    /*
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    */
    background-color: #f4ff73;
}

h1 {
    font-size: 320%;
    margin: 0;
    text-shadow: white 0 0 10px, yellow 2px 2px 10px;
}

h2 {
    font-size: 100%;
    font-weight: 500;
    line-height: 100%;
}

h3 {
    font-size: 100%;
    font-weight: 100;
    line-height: 100%;
}

.mouseover {
    cursor: help;
}

#infoWindow {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: rgba(0, 171, 255, 0.6);
    border-radius: 10px;
    z-index: 999;
}

#canvas {
    position: absolute;
    z-index: -99;
}

#contact {
    text-shadow: white 1px 1px;
}

#cardsBox {
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    box-shadow: gray 0 0 10px;
    background-color: rgba(0, 171, 255, 0.6);
}

.cardTitle {
    cursor: pointer;
    font-size: 100%;
    width: 98%;
    height: auto;
    background-color: #00a4ff;
    background-image: -webkit-linear-gradient(top, #65c8ff, #0075b6);
    background-image: -moz-linear-gradient(top, #65c8ff, #0075b6);
    background-image: -o-linear-gradient(top, #65c8ff, #0075b6);
    padding: 0.5% 1%;
    border-radius: 10px 10px 0 0;
    box-shadow: #003c5e 0 5px 0px, inset white 1px 0px 3px;
    transition: all ease 0.25s;
    -moz-transition: all ease 0.25s;
    -webkit-transition: all ease 0.25s;
    -o-transition: all ease 0.25s;
}

    .cardTitle:hover {
        color: white;
        background-color: #4bbfff;
        background-image: -webkit-linear-gradient(top, #a1ddff, #00a4ff);
        background-image: -moz-linear-gradient(top, #a1ddff, #00a4ff);
        background-image: -o-linear-gradient(top, #a1ddff, #00a4ff);
    }

    .cardTitle:active {
        background-color: #0075b6;
        background-image: -webkit-linear-gradient(top, #0075b6, #65c8ff);
        background-image: -moz-linear-gradient(top, #0075b6, #65c8ff);
        background-image: -o-linear-gradient(top, #0075b6, #65c8ff);
    }

.cardContent {
    margin-top: 5px;
    padding: 10px;
    color: white;
}
