body{margin:0;padding:0;}
.hidden{display:none;}


/* header before 2009.07.28 */
#header,
#topbar,
#topad{clear:both;overflow:hidden;width:980px;margin:0 auto;text-align:left;padding-top:1px;font:12px arial,simsun,sans-serif; text-align:left; line-height:20px;color:#16387c;}

#header img,
#topbar img,
#topad img{border:0;display:inline;}

#header ul,
#topad ul{list-style-type:none;}
#header *,
#topbar *{margin:0;padding:0;}

#header .headernav{background:#fff url(images/bg1.gif) repeat-x top left;height:81px;margin:0 3px 5px;clear:both;width:974px;}
#header .logo{display:inline;float:left;margin:0 0 0 6px;background:#fff;height:70px;width:190px;text-align:center;padding:11px 0 0;}
#header .logo a{cursor:pointer;}
#header .logo a img{display:block;}

#header .channel{display:inline;float:right;background:url(images/bg2.gif) no-repeat right top;height:80px;width:778px;padding-top:1px;overflow:hidden;}
#header .channel ul{clear:both;overflow:hidden;margin:10px 0 0 22px;width:744px;}
#header .channel li{display:inline;float:left;font-weight:bold;color:#0f0964;margin:0 12px;width:48px;overflow:hidden;text-align:center;}
#header .channel li a{padding:0 0 0;letter-spacing:14px;white-space:nowrap;padding:42px 0 0;display:block;cursor:pointer;}
#header .channel li#ch2{margin:0 14px 0 10px;}
#header .channel li#ch3{margin:0 10px 0 14px;}
#header .channel  li#ch5{margin:0 12px 0 10px;}
#header .channel  li#ch6{margin:0 17px 0 8px;}
#header .channel  li#ch9{width:62px;margin:0 12px 0 10px;}
#header .channel  li#ch10{width:62px;margin:0 0 0 10px;}
#header .channel  li#ch9 a,
#header .channel  li#ch10 a{letter-spacing:3px;}

/* topNav2009 */
.topNav2009{width:980px;height:29px;overflow:hidden;background:url(http://img0.dayoo.com/f2.gif) repeat-x left top;margin:0 auto;clear:both;font-family:simsun;color:#000;font-size:12px;line-height:22px;}
.topNav2009 img{display:inline;float:left;margin: 2px 2px 0 12px;border:0;}
.topNav2009 .topNavBox2009{margin:4px 4px 0px 4px;display:inline;float:left;}
.topNav2009 .topNavBox2009 a.po2009{color:#639EBD;}
.topNav2009 .left2009{margin-left:10px;}
.topNav2009 a:link,
.topNav2009 a:visited{color:#000;text-decoration:none;}
.topNav2009 a:hover,
.topNav2009 a:active{color:#c00;text-decoration:none;}
.topNav2009 .topNavBox2009 a.po2009:link,
.topNav2009 .topNavBox2009 a.po2009:visited{color:#639EBD;text-decoration:none;}
.topNav2009 .topNavBox2009 a.po2009:hover,
.topNav2009 .topNavBox2009 a.po2009:active{color:#c00;text-decoration:none;}
.red a:link,.red a:visited,.red a:hover,.red a:active{color:red;}

/* topbar */
#topbar .sub{background:url(images/b3.gif) repeat-x top left;width:972px;margin:0 auto 3px;height:28px;line-height:28px;clear:both;overflow:hidden;border:1px solid #e2e2e2;}
#topbar .date{float:left;display:inline;margin:0 0 0 25px;letter-spacing:1px;}
#topbar .date span.s1{margin:0 6px;letter-spacing:0px;}
#topbar .hlogin{float:left;display:inline;margin:0 0 0 55px;background:url(http://img0.dayoo.com/images/i1.gif) no-repeat 0 1px;padding:0 0 0 32px;}
#topbar .hlogin span,
#topbar .hlogin input,
#topbar .hlogin a{float:left;display:inline;}
#topbar .hlogin .tx1{width:72px;height:16px;border:1px solid #afafaf;margin:4px 12px 0 6px;line-height:16px;}
#topbar .hlogin .bn1{background:url(images/bg3.gif) no-repeat top center;border:0;width:52px;height:21px;letter-spacing:6px;margin:3px 0 0;}
#topbar .hlogin .link1{font-weight:bold;color:#6b6b6b;margin:0 20px;}
#topbar .hlogin .link2{font-weight:bold;color:#f00;background:url(http://img0.dayoo.com/images/i2.gif) no-repeat right 7px;padding-right:15px;}
#topbar .handle{float:right;display:inline;}
#topbar .handle a{margin:0 20px 0 4px;}

/* topad */
#topad .sub{width:974px;margin:0 auto 3px;clear:both;overflow:hidden;height:104px;}
#topad .img{float:left;display:inline;margin:0;width:757px;height:104px;overflow:hidden;}
#topad .img .flashdiv{margin:0;}
#topad .adlist{background:#ff0;float:right;display:inline;width:207px;height:104px;background:#f5f5f5;border:1px solid #e2e2e2;overflow:hidden;margin:0;}
#topad .adlist ul{margin:0;padding:0;line-height:18px;clear:both;overflow:hidden;width:191px;height:94px;margin:2px;padding:5px 6px 0;background:#fff;}
#topad .adlist ul li{background:url(images/i3.gif) no-repeat 3px 7px;padding:0 0 0 12px;white-space:nowrap;}


#header a:link,#header a:visited,
#topbar a:link,#topbar a:visited,
#topad a:link,#topad a:visited{text-decoration:none;color:#0f0964;}
#header a:hover,#header a:active,
#topbar a:hover,#topbar a:active,
#topad a:hover,#topad a:active{text-decoration:none;color:#f00;}

#topbar a.link1:link,#topbar a.link1:visited{text-decoration:none;color:#6b6b6b;}
#topbar a.link1:hover,#topbar a.link1:active{text-decoration:none;color:#f00;}

#topbar a.link2:link,#topbar a.link2:visited{text-decoration:none;color:#f00;}
#topbar a.link2:hover,#topbar a.link2:active{text-decoration:none;color:#000;}

/* currentlyNode/research */
#currentlyNode .research{display:inline;float:right;height:30px;color:#fff;padding-top:8px;}
#currentlyNode .research .tx1{width:130px;height:19px;border:1px solid #a5a5a5;margin:0 6px;float:left;display:inline;}
#currentlyNode .research select{padding:0;margin:0;float:left;display:inline;}
#currentlyNode .research option{}
#currentlyNode .research .bn1{background:url(http://img0.dayoo.com/images/cbg1.jpg) repeat-x top left;padding:0;margin:0 6px;height:22px;cursor:pointer;line-height:19px;border:1px solid #a5a5a5;letter-spacing:4px;float:left;display:inline;text-align:center;}


#footer{width:100%;clear:both;color:#000;margin:10px auto 30px;}
#footer_p1{width:100%;text-align:center;font:12px/24px simsun;}
#footer_lxl{width:100%;text-align:center;font:14px/40px simsun;}
#footer_p1 span{margin:0 5px;}
#footer_lxl a{margin:0 15px;}
#footer_img{width:300px;overflow:hidden;margin:15px auto 0;}
#footer_img span{float:left;}
#footer a:link,
#footer a:visited{color:#000;text-decoration:none;}
#footer a:hover,
#footer a:active{color:#c00;text-decoration:underline;}


#DayooFloatingPane {width:100%; height:25px;margin:0px;position:absolute;
					filter:alpha(opacity=100);opacity:1;
					background:url(http://img0.dayoo.com/images/DFP_bg.gif); z-index:100; font-size:12px;
					overflow:hidden;left:0px; display:none; border-top:1px #CCCCCC solid; bottom:0px;
				   }

#DayooFloatingPane a:link { color: #305877; text-decoration: none}
#DayooFloatingPane a:visited { color: #305877; text-decoration: none}
#DayooFloatingPane a:hover { color: #305877; text-decoration: underline}
#DayooFloatingPane a:active { color: #305877; text-decoration: underline}

#DayooFloatingPane .break{ background:url(http://img0.dayoo.com/images/break.gif); float:right; width:3px; height:18px; margin-top:5px; margin-right:5px;}

#DayooFloatingPane_container{width:700px; left:0px; height:19px;;border:0px solid #cccccc;
							position:absolute;overflow:hidden;left:10px; margin-top:2px;z-index:-1;
							}
#DayooFloatingPane_content {white-space:nowrap;text-align:left; position:absolute; left:0px; width:100%;  line-height:22px;color:#305877; padding-left:0px;}
#DayooFloatingPane_content font{ margin-right:5px;color:#ff0000; font-size:12px}
#DayooFloatingPane_content a{ margin-right:30px;color:#305877;}
#DayooFloatingPane_content img { display:inline; margin-top:7px; border:0; }


#DayooFloatingPane_tool{height:25px; z-index:10; float:right; background:url(http://rnd.dayoo.com/icon/app/roll_bar/20081030/img/tool_bg.gif); }
#DayooFloatingPane_tool td{
							background-repeat: no-repeat;cursor:pointer;
							width:22px; height:25px; text-align:center;
							}
#DayooFloatingPane_up {background:url(http://img0.dayoo.com/images/dfp_tools.gif) 0px -186px no-repeat; }
#DayooFloatingPane_down{ background:url(http://img0.dayoo.com/images/dfp_tools.gif) no-repeat 0px -211px; }
#DayooFloatingPane_close{ background:url(http://img0.dayoo.com/images/dfp_tools.gif) no-repeat 0px -236px; }
#DayooFloatingPane_setting{ background:url(http://img0.dayoo.com/images/dfp_tools.gif) no-repeat 0px -161px;}
#DayooFloatingPane_new{background:url(http://img0.dayoo.com/images/dfp_tools.gif) no-repeat -22px -162px; }
#DayooFloatingPane_tool td#DayooFloatingPane_new{width:20px;}
#DayooFloatingPane_tool .bleak{ font-size:1px; width:5px;}



#DayooFloatingPaneSet{
	position:absolute;
	width:145px;
	height:114px;
	z-index:99;
	background:url(http://img0.dayoo.com/images/dfp_tools.gif) no-repeat -95px -162px;
	text-align:left;
	right:0px;
	font-size:12px;
	line-height:20px;
	filter:alpha(opacity=0);opacity:0;
	display:none;
	padding-top:1px;
}
.oplink2{height:34px;width:145px;overflow:hidden;display:none;}
.oplink2 a{text-indent:-1000em;cursor:pointer;display:block;height:34px;}

.itembox{float:left;width:104px;margin:30px 0 0 14px;}
.itembox p{margin:5px 0;clear:both;overflow:hidden;width:104px;}
.itembox p input{float:right;display:inline;width:14px;height:14px;border:1px solid #e96207;padding:0;background:#fdfdfd;margin:0;border-collapse:collapse; }
.itembox p span{float:left;display:inline;}

#DayooFloatingPaneSet_close{cursor:pointer; float:right; width:18px; height:18px; display:inline;margin:6px 4px 0 0;}

#DayooFloatingPaneSet td{}
#DayooFloatingPaneSet .td1{ text-align:left; padding-left:5px;}
#DayooFloatingPaneSet .td2{ text-align:right; padding-right:5px;}
#DayooFloatingPaneSet .title{ text-align:right;padding-top:3px; padding-right:2px; width:150px; background:url(http://img0.dayoo.com/images/win_bg.gif);height:20px;}


#DayooFloatingPaneNews{
	display:none;
	position:absolute;
	width:240px;
	height:160px;
	z-index:10;
	right:0px;
	background:url(http://img0.dayoo.com/images/dfp_tools.gif) no-repeat 0 0;
	filter:alpha(opacity=0);opacity:0;
	padding-top:2px;
	text-align:left;
}

#DayooFloatingPaneNews_top{
	width:220px;
	height:30px;
	margin-left:13px;
	clear:both;
	overflow:hidden;
}
#DayooFloatingPaneNews_title {
	color:#fff;
	font-size:14px;
	height:18px;
	line-height:18px;
	font-weight:bold;
	display:inline;
	float:left;
	margin-top:8px;
	margin-left:25px;
	width:150px;
	overflow:hidden;
	white-space:nowrap;
}
#DayooFloatingPaneNews_close {
	width:38px;
	height:16px;
	float:right;
	display:inline;
	cursor:pointer;
	margin:7px 3px 0 0;
}
#DayooFloatingPaneNews_content {
	width:226px;
	height:110px;
	clear:both;
	overflow:hidden;
	font-size:12px;
	line-height:21px;
	overflow:hidden;
	margin:8px 0 0 8px;
	font-family:arial,simsun,sans-serif;
}
.oplink{padding-top:1px;clear:both;height:43px;width:275px;display:none;}
.oplink a{display:block;cursor:pointer;height:43px;text-indent:-2000px;}
#DayooFloatingPaneNews a:link,
#DayooFloatingPaneNews a:visited{color:#000;text-decoration:none;}
#DayooFloatingPaneNews a:hover,
#DayooFloatingPaneNews a:active{color:#f00;text-decoration:none;}

#DayooFloatingPaneNews_title a:link,
#DayooFloatingPaneNews_title a:visited{color:#fff;text-decoration:none;}
#DayooFloatingPaneNews_title a:hover,
#DayooFloatingPaneNews_title a:active{color:#fff;text-decoration:none;}

#DayooFloatingPaneMini{width:36px; height:36px; margin:0px;position:absolute;
					filter:alpha(opacity=100);opacity:1; display:none;
					 border:0px solid #CCCCCC; border-bottom:0px;
					cursor:pointer; right:5px;background:url(http://img0.dayoo.com/images/toolOpen.gif);
					}


#DayooFloatingPaneTip {
cursor:pointer;
background:url() no-repeat;
width:0px;
position:absolute;
height:0px;
right:0px;
text-align:left;
font-size:12px;
line-height:18px;
filter:alpha(opacity=0);
opacity:0;
display:none;
}
.oplink3{width:144px;height:34px;overflow:hidden;margin:0;padding:0;}
.oplink3 a{display:block;height:34px;cursor:pointer;text-indent:-1000px;}
.oword{width:120px;margin:4px 0 0 14px;height:58px;overflow:hidden;}
.oword b{margin-left:60px;color:#c6040e;}

#DayooFloatingPaneBlank { height:20px}

/* ad style */
.fleft,left{float:left;display:inline;}
.fright,right{float:right;display:inline;}
.clearing,.clrbox{width:1px;height:0;clear:both;font-size:0;overflow:hidden;font-size:0;}
.hid,.adHid{display:none;}
.adShow{}
.adTShow{}
.mt6{margin-top:6px;}
.mt10{margin-top:10px;}
.addiv{margin-left:auto;margin-right:auto;clear:both;}


/* ¹ö¶¯Ìõ css   */
.roll_footer{width:100%;height:28px;overflow:hidden;position:fixed;bottom:0px;left:0px;z-index:99999;display:none;}
.roll_footer_one{width:100%;height:28px;overflow:hidden;position:fixed;bottom:0px;left:0px;}
.roll_footer_one .roll_line{width:100%;height:28px;overflow:hidden;background:url(http://img0.dayoo.com/images/mato_scrollt1.jpg) repeat-x 0px 0px;}
.roll_content{width:976px;height:28px;line-height:29px;margin:0px auto;position:relative;}
.roll_jsnew{width:976px;clear:both;position:relative;left:0px;top:0px;}
.roll_jsnew_title{position:absolute;left:-80px;width:68px;height:28px;line-height:29px;text-align:center;overflow:hidden;font-size:12px;font-weight:bold;color:#fff;}
.roll_jsnew_title span{width:68px;height:21px;display:block;line-height:21px;text-align:center;overflow:hidden;font-size:12px;font-weight:bold;color:#fff;position:relative;top:4px;}
.roll_jsnew_title .roll_span1{background:url(http://img0.dayoo.com/images/matoscroll.gif) no-repeat 0px 0px;}
.roll_jsnew_title .roll_span2{background:url(http://img0.dayoo.com/images/matoscroll.gif) no-repeat 0px -21px;}
.roll_jsnew_list{width:976px;overflow:hidden;height:28px;position:relative;left:0px;top:0px;}
.roll_jsnew_list ul{list-style:none;float:left;display:inline;line-height:28px;font-size:12px;width:976px;clear:both;position:relative;left:0px;top:0px;}
.roll_jsnew_list ul li{float:left;display:inline;margin:0px 0px 0px 0px;width:243px;overflow:hidden;height:28px;}
.roll_jsnew_list ul li strong{font-weight:bold;color:#e00000;}
.roll_jsnew_list ul li a{margin:0px 0px 0px 10px;}
.roll_jsnew_list ul li tt{font-weight:bold;color:#e00000;}
.roll_jsnew_list ul li span{margin:0px 0px 0px 10px;}
.roll_jsnew_list ul li a:link{color:#000;text-decoration:none;}
.roll_jsnew_list ul li a:visited{color:#000;text-decoration:none;}
.roll_jsnew_list ul li a:hover{color:#000;text-decoration:underline;}
.roll_jsnew_list ul li a:active{color:#000;text-decoration:underline;}
.roll_submit{width:100px;height:28px;position:absolute;left:980px;top:0px;}
.roll_footer_one #roll_submit_one{float:left;display:inline;overflow:hidden;width:12px;height:11px;text-indent:-1000px;cursor:pointer;position:relative;top:8px;margin-left:10px;}
.roll_footer_one #roll_submit_two{float:left;display:inline;overflow:hidden;width:12px;height:11px;text-indent:-1000px;cursor:pointer;position:relative;top:8px;left:0px;margin-left:10px;}
.roll_footer_one #roll_submit_three{float:left;display:inline;overflow:hidden;visibility:visited;width:16px;height:11px;text-indent:-1000px;cursor:pointer;position:relative;top:8px;margin-left:10px;}
.roll_footer_one .matobak_three{background:url(http://img0.dayoo.com/images/matoscroll.gif) no-repeat -33px -48px;}
.roll_footer_one .matobak_3{background:url(http://img0.dayoo.com/images/matoscroll.gif) no-repeat -34px -64px;}
.roll_footer_one .matobak_two{background:url(http://img0.dayoo.com/images/matoscroll.gif) no-repeat -16px -48px;}
.roll_footer_one .matobak_2{background:url(http://img0.dayoo.com/images/matoscroll.gif) no-repeat -16px -64px;}
.roll_footer_one .matobak_one{background:url(http://img0.dayoo.com/images/matoscroll.gif) no-repeat 0px -48px;}
.roll_footer_one .matobak_1{background:url(http://img0.dayoo.com/images/matoscroll.gif) no-repeat 0px -64px;}
.matoimg{position:absolute;right:5px;bottom:0px;cursor:pointer;}
.Hight{height:36px;display:none;}
#jd_list{position:relative;left:0px;top:0px;width:100%;clear:both;}
#js_list{position:relative;left:0px;top:0px;width:100%;z-index:99999;}
